h1#home-title {
    display: block;
}

.logo {
    &__cursor {
        background: #f39c12;
    }
}

code {
    font-family: 'dm';
    &[class*="language-"] {
        font-family: 'dm';
    }
}

.zork {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 20px 60px;
    background-color: #212020;
    border-radius: 8px;
    font-family: 'dm';
    color: #f1ac4a;
    text-shadow: 0 0 10px #D68511;
}
